*.txz filter=lfs diff=lfs merge=lfs -text
prebuilts/clang-builder filter=lfs diff=lfs merge=lfs -text
prebuilts/sysroot-builder filter=lfs diff=lfs merge=lfs -text
*.tar.xz filter=lfs diff=lfs merge=lfs -text
